<h1 id="hello" class="mb-4">
  Welcome to {{ app }}!
</h1>
<h2>
  See how to...
</h2>
<div class="mb-4">
  <ul>
    <li>Render page with variables at <a href="/" route>home page</a></li>
    <li>Render page components with variables at <a href="/authors" route>authors page</a></li>
    <li>Render page components with events and redirection at <a href="/counter" route>counter page</a></li>
    <li>Render page components with API data at <a href="/photos" route>photos page</a></li>  
  </ul>
</div>
<p class="mb-4">
  Click on the Vite logo or JS logo to learn more
</p>